@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	font-family: Montserrat;
  	padding-top: 30px;
  	padding-bottom: 50px;
  	background-size: auto;
  	background-color: #5499C7 !important;
  	color: #FFFFFF !important;
}

.navbar {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	min-height: 32px !important;
	font-size: 14px;
	margin-top: 30px;
}

.judge {
	text-align: right;
}

#title, #input, #formulas {
	padding-top: 20px;
}

#title, #results, #formulas, #computeDiv {
	text-align: center;
}

#title {

}

#input {

}

#results {

}

#contact {

}

#marvCount, #perfCount, #greatCount, #goodCount, #okCount, #missCount {
	width: 90px;
	text-align: left;
}

#compute, #reset {
	display: inline-block;
	width: 49%;
}

#buttons
